// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

* {
    all: unset;
}

window.Bar {
    font-size: 13px;
    font-family: "Iosevka Nerd Font Mono";
    background: transparent;
    font-weight: bold;
    padding: 2px;

    .insidebox,
    .insidebutton {
        transition: all ease-in-out 150ms;
        padding: 2px;
        border-radius: 10px;
        background-color: #374145;
    }

    .insidebutton:hover {
        transition: all ease-in-out 150ms;
        background-color: #495156;
    }

    .insidebutton:active {
        transition: all ease-in-out 150ms;
        background-color: #374145;
    }

    .activebox {
        background-color: #495156;
    }

    .activebox,
    .inactivebox {
        border-radius: 10px;
        padding: 4px;
    }

    > centerbox {
        background: $bg-color;
        border-radius: 10px;
        margin: 2px;
    }

    button {
        min-height: 15px;
        border-radius: 8px;
    }

    > box {
        min-height: 15px;
        transition: all ease-in-out 150ms;
    }

    .active,
    .inactive {
        transition: all ease-in-out 150ms;
        border-radius: 30px;
        min-height: 6px;
    }

    .active {
        transition: all ease-in-out 150ms;
        background-color: #7fbbb3;
        min-width: 30px;
    }

    .inactive {
        transition: all ease-in-out 150ms;
        background-color: #e67e80;
        min-width: 15px;
    }

    circularprogress {
        transition: all ease-in-out 500ms;
        min-height: 3px;
        font-size: 6px;
        color: yellow;
        background-color: #495156;
    }

    .reallylow_usage,
    .reallylow_volume {
        color: #7fbbb3;
    }

    .low_usage,
    .low_volume {
        color: #a7c080;
    }

    .medium_usage,
    .medium_volume {
        color: #dbbc7f;
    }

    .high_usage,
    .high_volume {
        color: #e67e80;
    }

    .mediaslider,
    .volumeslider {
        * {
            border: none;
            min-height: 5px;
            border-radius: 10px;
        }

        & slider {
            border-style: none;
            background-color: transparent;
            border-color: transparent;
            border-width: 0px;
            color: transparent;
        }
        & trough {
            background-color: #495156;
        }
        & highlight {
            background-color: #a7c080;
        }
    }
}

tooltip {
    box-shadow: none;
    font-family: "Iosevka Nerd Font Mono";
    background-color: #374145;
    padding: 2px;
    border-radius: 10px;
}
