// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

* {
    all: unset;
}

window.Bar {
    font-family: "Iosevka Nerd Font Mono";
    background: transparent;
    font-weight: bold;
    padding: 2px;

    .insidebox,
    .insidebutton {
        padding: 2px;
        border-radius: 10px;
    }

    .insidebox {
        background-color: #374145;
        padding: 2px;
    }

    .insidebutton {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 2px;
        padding-right: 2px;
    }

    .activebox {
        background-color: #495156;
    }

    .activebox,
    .inactivebox {
        border-radius: 10px;
        padding: 4px;
    }

    > centerbox {
        background: $bg-color;
        border-radius: 10px;
        margin: 2px;
    }

    button {
        min-height: 15px;
        border-radius: 8px;
    }

    > box {
        min-height: 15px;
        transition: all ease-in-out 150ms;
    }

    .active,
    .inactive {
        transition: all ease-in-out 150ms;
        border-radius: 30px;
        min-height: 15px;
    }

    .active {
        transition: all ease-in-out 150ms;
        background-color: #7fbbb3;
        min-width: 30px;
    }

    .inactive {
        transition: all ease-in-out 150ms;
        background-color: #e67e80;
        min-width: 15px;
    }

    circularprogress {
        transition: all ease-in-out 500ms;
        min-height: 3px;
        font-size: 6px;
        color: yellow;
        background-color: #495156;
    }

    .reallylow_usage {
        color: #7fbbb3;
    }
    .low_usage {
        color: #a7c080;
    }

    .medium_usage {
        color: #dbbc7f;
    }

    .high_usage {
        color: #e67e80;
    }
}
